.homeContainer {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  margin-top: 0;
}

.homeContainer h3 {
  color: yellow;
}

.h1tag {
  color: red;
  margin: 0;
}

#h2tag {
  color: blue;
}
